<div class="container2">
  <section class="menu-section">
    <div class="container-fluid">
      <h2 class="section-title">Our Delicious Menu</h2>
      <div class="row">
        <!-- Category List -->
        <div class="col-md-2 category-sidebar">
          <nav class="category-nav" role="tablist">
            <a class="category-btn {{isActive currentPath '/menu'}}" href="/menu" data-category="all" aria-selected="true">All</button>
            <a class="category-btn {{isActive currentPath '/category/burger'}}" href="/category/burger" data-category="burger" aria-selected="false">Burger</a>
            <a class="category-btn {{isActive currentPath '/category/salads'}}" href="/category/salads" data-category="asian" aria-selected="false">Salads</a>
            <a class="category-btn {{isActive currentPath '/category/pasta&casuals'}}" href="/category/pasta&casuals" data-category="burrito" aria-selected="false">Pasta&Casuals</a>
            <a class="category-btn {{isActive currentPath '/category/pizza'}}" href="/category/pizza" data-category="drink" aria-selected="false">Pizza</a>
            <a class="category-btn {{isActive currentPath '/category/breakfast'}}" href="/category/breakfast" data-category="drink" aria-selected="false">Breakfast</a>
            <a class="category-btn {{isActive currentPath '/category/soups'}}" href="/category/soups" data-category="drink" aria-selected="false">Soups</a>
          </nav>
        </div>
        <!-- Menu Items -->
        <div class="col-md-10 menu-content listProduct">
          <div class="row" id="menu-items">
            {{#each items}}
            <div class="col-lg-4 col-md-6 menu-card" data-category="{{this.category}}">
              <img src="{{this.image}}" alt="{{this.name}}">
              <div class="menu-card-body">
                <h5 class="menu-card-title">{{this.name}}</h5>
                <p class="menu-card-text">{{this.description}}</p>
                <p class="menu-card-price">${{this.price}}</p>
                <a class="btn btn-order-now" data-id ="{{this.id}}"
                data-name="{{this.name}}" data-image="{{this.image}}" data-price="{{this.price}}">Chọn món</a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div> 
  </section>

  {{!-- <div class="cartTab">
    <h1>Shopping Cart</h1>
      <div class="listCart">
        <div class="item">
         
        </div>
      </div>
      <div class="btn">
        <button class="close">CLOSE</button>
        <button class="checkOut" id="checkout-btn">CHECK Out</button>
      </div>
  </div> --}}
</div>
